правила именования переменных:

имен переменных и методов всегда должны начинаться с маленькой буквы. Пример:
  public void getSomeValue()
  int currentDayNumber

имена переменных должны быть существительными (существительные отвечают на вопросы: Кто? Что?). Пример:
  int currentDayNumber

имена методов должны быть глаголами (глаголы отвечают на вопросы: Что делать? Что сделать?). Пример:
  public void getSomeValue()

имена классов должны быть существительными и начинаться с заглавной буквы. Пример:
  public class Main

если название состоит из нескольких слов, то для таких слов используется CamelCase. Пример:
  public void setMonthSalary(int salary)

константы (финальные методы и enum классы) называются заглавными буквами, разделенными символом подчеркивания. Пример:
  final String DIRECTOR_EMAIL="boss@localhost"
